# binary output (.zips, etc.)
#############################
bin/
*.zip

#emacs temp files
############################
*~

# system garbage
###########################
.DS_Store*
selenium-server-standalone-2.25.0.jar
